<!DOCTYPE html>
<html lang="en">
<!-- Head tag -->
<%
    var page_type = "";
    if (is_post()) {
     page_type = "post";
    } else if (is_home()) {
        page_type = "home";
    } else {
        page_type = "page";
    }
%>
<%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/menu') %>
            <div class="content  wrapper-full">
                <div class="main-content-wrap <%- page_type %>">
                    <!-- Main Content -->
                    <%- body %>
                </div>
                <div class="sidebar-wrap">
                    <%- partial("_partial/sidebar") %>
                </div>
            </div>
            <!-- After footer scripts -->
            <%- partial('_partial/after-footer') %>


            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-34787078-1', 'auto');
            ga('send', 'pageview');

            </script>
    </body>
</html>