<article class="main clearfix article-item gallery-item">
    <div class="article-text">
        <h1 class="article-title"><%- item.title || "Untitled" %></h1>
        <div class="article-content">
            <%- item.content %>
            <% if (item.cmon) { %>
                <a href="<%- item.cmon %>" target="_blank">Visit on CMON</a>
            <% } %>
        </div>
        <hr class="bordering">
        <div class="article-meta">
            <%- partial('article-tags', {showTitle: true}) %>
        </div>
    </div>
    <div class="gallery-images">
        <% item.photos.forEach(function(image) { %>
            <img src="<%- theme.images %><%- image %>" class="media" alt="<%- item.title %>" />
        <% }); %>
    </div>
    <div class="article-comments">
        <h4>Comments</h4>
        <%- partial("_partial/comments.ejs", {item: item}) %>
    </div>
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"http://itsacoyote.design/<%- item.path %>"
  },
  "headline": "<%- item.title %>",
  "image": {
    "@type": "ImageObject",
    "url": "<%- theme.images %><%- item.cover_index %>",
    "height": 211,
    "width": 696
  },
  "datePublished": "<%- item.date %>",
  "dateModified": "<%- item.updated %>",
  "author": {
    "@type": "Person",
    "name": "itsacoyote"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Itsacoyote Workshop",
    "logo": {
      "@type": "ImageObject",
      "url": "http://itsacoyote.design/site_assets/itsacoyoteworkshop-logo.png",
            "width": 290,
            "height": 60
    }
  },
  "description": "Itsacoyote Workshop news updates on miniature painting"
}
</script>