<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="msvalidate.01" content="0DEB9B3D329943664B9008FAA161DFC3" />
    <meta name="google-site-verification" content="6az5s_nGwNECir-XEESpyNPNV5wGhfbHjM82jCTcXxU" />

    <!--Description-->
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <!--Page Cover-->
    <% var pageImage = ""; %>
    <% if(is_post() && page.layout === "album") {
         pageImage = theme.images + page.photos[0];
     } else {
         pageImage = "http://images.itsacoyoteworkshop.com/site_assets/og_image.jpg";
     } %>
        <%
            var site_url = url.replace(/index\.html$/, '');
        %>
        <%- open_graph({"image": pageImage, "url": site_url}) %>
        <% if (page.layout !== "album") { %>
            <meta property="og:image:width" content="600"/>
            <meta property="og:image:height" content="315"/>
        <% } %>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@itsacoyote"/>

    <% if (is_post()) { %>
        <%- googleAmpsCanonical(config, page) %>
    <% } %>


    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#f6f6f6">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#f6f6f6">

    <!-- Title -->
    <%
        var title = [];
        if (page.current > 1) title.push(__('page', page.current));
        if (page.title) title.push(page.title);
        if (page.category) title.push(page.category);
        if (page.tag) title.push(page.tag);
        if (page.archive) {
            if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
            else title.push(__('archive_a'));
        }
        title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <%- css('css/style.css') %>
    <!-- Google Analytics -->
    <%- partial('google-analytics') %>
</head>