<footer class="main-footer">
    <div class="footer-top">
        <div class="footer-left">
            <a href="/" title="Itsacoyote Workshop">
                <img height="50px" src="http://s3.amazonaws.com/images.itsacoyote.design/site_assets/itsacoyoteworkshop-logo.png"  alt="Itsacoyote Workshop">
            </a>  
        </div>
        <nav class="footer-nav">
            <ul class="footer-nav-menu">
                <% for (var i in theme.menu){ %>
                    <li class="menu-item">
                        <a href="<%- url_for(theme.menu[i]) %>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>       
    <div class="footer-bottom">
        <div class="footer-left">
            &copy; <%- date(Date.now(), 'YYYY') %> Itsacoyote Workshop         
        </div>
        <div class="footer-right">
            <% for (var i in theme.social) { %>
                <%
                    var icon = "";
                    switch(i) {
                        case "twitter":
                        icon = "flaticon-twitter-logo-silhouette";
                        break;
                        case "instagram":
                        icon = "flaticon-instagram-social-network-logo-of-photo-camera";
                        break;
                        case "facebook":
                            icon = "flaticon-facebook-letter-logo";
                        break;
                        case "google-plus":
                            icon = "flaticon-google-plus";
                        break;
                    }
                %>
                <div class="social-icon-button">
                    <a itemprop="sameAs" href="<%- url_for(theme.social[i]) %>" target="_blank" title="<%= i %>">
                        <i class="<%= icon %>"></i>
                    </a>
                </div>
            <% } %>  
        </div>
    </div>         
</footer>              

<!-- Custom Code -->
<%- js('js/main.js') %>
<% if (is_post()) { %>
<script src="https://cdn.muut.com/1/moot.min.js"></script>
<% } %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://itsacoyote.design",
        "logo": "http://s3.amazonaws.com/images.itsacoyote.design/site_assets/itsacoyote-workshop-logo-vertical.png"
    }
</script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Itsacoyote Workshop",
        "url": "http://itsacoyote.design"
    }
</script>